
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tests">
    <test name="tests">
        <classes>
            <class name="Tests.TestCars"/>
             <class name="Tests.TestClients"/>
            <class name="Tests.TestDevelopers"/>
            <class name="Tests.TestDevices"/>
            <class name="Tests.TestModels"/> 
            <class name="Tests.TestOrders"/> 
        </classes>
    </test>
</suite>